{% extends 'base.html.twig' %}

{% block title %}All authors{% endblock %}

{% block body %}

    <div class="count">
        {{ pagination.getTotalItemCount }} Authors
    </div>

    {{ knp_pagination_render(pagination) }}

    <ul>
        {% for author in pagination %}
            <li>
                {{ component('InlineEditAuthor', {'author':author,'originalAuthor':author}) }}
            </li>
        {% endfor %}
    </ul>

    {{ knp_pagination_render(pagination) }}

{% endblock %}
