
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/.composer
/vendor/
docker-compose.override.yml
docker-compose.yml
Dockerfile
/backups/*.sql
/public/media/cache/*
!/public/images/.gitkeep
!/public/images/librairies
/public/images/librairies/*
!/public/images/librairies/.gitkeep
public/tmp
!/public/media/.gitkeep
/public/books
!/public/books/.gitkeep
/public/covers
!/public/covers/.gitkeep
/public/books/consume
!/public/books/consume/.gitkeep

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###


# Custom docker override for https://github.com/typesense/typesense/issues/1351
typesense/*

# Test database
data/database.sqlite
*.pcap
