parameters:
    tipsOfTheDay: false
    level: 9
    paths:
        - src/
        - tests/
    ignoreErrors:
        - identifier: missingType.generics
        - '#(.*)no value type specified in iterable type array#'
  #      - '#Asserted type (.*) for (.*) with type (.*) does not narrow down the type.#'
    errorFormat: symplify
    typeAliases:
        ReadingStateCriteria: "array{'book':int, 'readPages': int|null, 'finished': boolean}"
