parameters:
    tipsOfTheDay: false
    level: max
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '#(.*)no value type specified in iterable type array#'
  #      - '#Asserted type (.*) for (.*) with type (.*) does not narrow down the type.#'
    errorFormat: symplify
