{% extends 'base.html.twig' %}

{% block title %}Edit Kobo{% endblock %}

{% block body %}
    <h1>Edit Kobo</h1>

    {{ include('kobo_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_kobo_admin_index') }}">back to list</a>

    {{ include('kobo_admin/_delete_form.html.twig') }}
{% endblock %}
