{% extends 'base.html.twig' %}

{% block title %}Edit Kobo{% endblock %}

{% block body %}
    {{ include('kobo_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_kobo_admin_index') }}">back to list</a>

    <div class="mt-3">
        {{ include('kobo_admin/_delete_form.html.twig') }}
    </div>

    {{ include('kobo_admin/instructions.html.twig') }}

{% endblock %}
