{% extends 'base.html.twig' %}

{% block title %}New Kobo{% endblock %}

{% block body %}
    <h1>Create new Kobo</h1>

    {{ include('kobo_admin/_form.html.twig') }}

    <a href="{{ path('app_kobo_admin_index') }}">back to list</a>
{% endblock %}
