{% extends 'base.html.twig' %}

{% block title %}Create new Kobo{% endblock %}

{% block body %}

    {{ include('kobo_admin/_form.html.twig') }}

    <div>
        <a href="{{ path('app_kobo_admin_index') }}">back to list</a>
    </div>

    {{ include('kobo_admin/instructions.html.twig') }}
{% endblock %}
