{% if is_granted("DELETE", kobo) %}
<form method="post" action="{{ path('app_kobodevice_user_delete', {'id': kobo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kobo.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
{% endif %}