{% extends 'base.html.twig' %}

{% block title %}Edit Kobo{% endblock %}

{% block body %}
    {{ include('kobodevice_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_kobodevice_user_index') }}">back to list</a>

    <div class="mt-3">
        {{ include('kobodevice_user/_delete_form.html.twig') }}
    </div>

    {{ include('kobodevice_user/instructions.html.twig') }}

{% endblock %}
