{% extends themedTemplate('base.html.twig') %}

{% block title %}
    {{ 'reading-list.title'|trans }}
{% endblock %}

{% block body %}

    {% if readlist.unread|length>0 %}
        <h3 class="mt-4">{{ 'reading-list.to-read'|trans }}</h3>
        <div class="bookGrid bookGrid--large">
            {% for book in readlist.unread %}
                <div class="bookGrid__item">
                    {% include themedTemplate('book/_teaser.html.twig') with {book: book} %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-muted">
            {{ 'reading-list.add-to-favorites'|trans }}
        </div>
    {% endif %}

    {% if readlist.finished|length>0 %}
        <h3 class="mt-4">{{ 'reading-list.finished'|trans }}</h3>
        <div class="bookGrid">
            {% for book in readlist.finished %}
                <div class="bookGrid__item">
                    {% include themedTemplate('book/_teaser.html.twig') with {book: book} %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}



