{% extends 'base.html.twig' %}

{% block body %}

    <form>
        <input type="text" value="{{ term }}" name="term"  />
        <input type="submit" value="Chercher">
    </form>
    <ul>
        {% for article in articles %}
            <li>{% include 'article/_teaser.html.twig' %}</li>
        {% else %}
            {% if term!='' %}
                <li>Aucun résultat pour "{{ term }}"</li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
