{% extends 'base.html.twig' %}

{% block title %}{{ "instance-configuration.edit-configuration"|trans }}{% endblock %}

{% block body %}

    <a href="{{ path('app_instance_configuration_index') }}" class="btn btn-text">
        <i class="bi bi-arrow-left"></i>
        {{ "generic.back-to-list"|trans }}
    </a>

    {{ include('instance_configuration/_form.html.twig', {'button_label': 'generic.update'|trans}) }}

{% endblock %}
