{% set editUrl = ea_url()
    .setController(ea.crud.controllerFqcn)
    .setAction('edit')
    .setEntityId(entity.primaryKeyValue) %}
<a href="{{ editUrl }}" id="Edit_{{ entity.primaryKeyValueAsString }}">{{ field.value }}</a>
