<tr>
    <td style="width: 50px; vertical-align: middle; text-align: right;">
        <span class="text-secondary">{{ index }}</span>
    </td>
    <td>
        {% include themedTemplate('book/_cover_empty.html.twig') %}
    </td>
    <td style="vertical-align: middle;">
        <h4 class="text-muted">{{ "book.missing"|trans }}</h4>
    </td>
    <td>
    </td>
</tr>
