<div class="book">
    <div class="book__cover" style="background-image:url('{{ asset('images/blank.jpg')|imagine_filter('thumb') }}');">
        <div class="book__detail text-danger text-warning">
            {{ "book.missing"|trans }}
        </div>
    </div>
    <div class="book__page"></div>
</div>
