{# @var book App\Entity\Book #}
<div class="m-1 mb-4">
    {% include themedTemplate('book/_cover_empty.html.twig') %}
    <small>
        <strong>{{ "book.missing"|trans }}</strong><br />
        {% if serie %}
            <a href="{{ filter_book_url({'serie': serie}) }}" class="text-decoration-none text-secondary">
                <i class="bi bi-list-ol"></i>&nbsp;{{ serie }} ({{ index }})
            </a>
        </a>
        {% endif %}
    </small>
</div>