{% set allParams=app.request.query.all %}

<div class="row align-self-end mb-3">
    <div class="col-12 p-2 text-end">
        <div class="btn-group">
            <div class="btn-sm btn btn-outline-dark">
                {{ pagination.getTotalItemCount }} Books
            </div>
            <a class="btn btn-sm btn-outline-primary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(allParams)|merge({'displayMode':'gallery'})) }}"><i class="bi bi-grid-fill"></i></a>
            <a class="btn btn-sm btn-outline-primary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(allParams)|merge({'displayMode':'list'})) }}"><i class="bi bi-list"></i></a>
        </div>
    </div>
</div>


{% if displayMode.getDisplayMode =='gallery' %}
    {% include 'book/_gallery.html.twig' %}
{% else %}
    {% include 'book/_list.html.twig' %}
{% endif %}