{% extends 'base.html.twig' %}


{% block title %}
    {{ "book.upload-books-to-the-consume-folder"|trans }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h2>{{ "book.upload-book"|trans }}</h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

