{% extends 'base.html.twig' %}


{% block title %}
    {{ "book.upload-books-to-the-consume-folder"|trans }}
{% endblock %}

{% block body %}
    <div class="Card">
        <div class="Card__content">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

