{% extends 'base.html.twig' %}


{% block title %}
Upload books to the consume folder
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h2>Upload book</h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

