{% extends 'base.html.twig' %}

{% block title %}
    Search  {% if term %}for {{ term }}{% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        {% for book in books %}
            <div class="col-md-4 col-lg-3 col-xl-2 col-sm-4 col-6">
                {% include 'book/_teaser.html.twig' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
