.BooksWithDetails {
  display: grid;
  grid-template-areas: "info" "content";
  gap: var(--space--md);
}

.BooksWithDetails__content {
  grid-area: content;
  padding-top: var(--space--xl);
}

.BooksWithDetails__info {
  grid-area: info;
}


@media (min-width: 768px) {
  .BooksWithDetails {
    grid-template-columns: auto minmax(30%, 300px);
    grid-template-areas: "content info";
  }
}