{% extends themedTemplate('base.html.twig') %}

{% block title %}Command result{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <code>{{ output }}</code>
    <p>Exit code:</p>
    <code>{{ exitCode }}</code>
</div>
{% endblock %}
