// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body.bg-darker{
  background-color: #000;
  color: #fff;
}

#vue-book-reader{
  width: 100%;
  .flex{
    display: flex;
    button{
      display: block;
    }
  }

}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: sticky;
    top: 48px;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-item.active >.nav-link {
  font-weight: bold;
  color: brown;
}
.sidebar .icon-link .bi {
   height: auto;
}

.bi {
   height: auto;
}

.sidebar-heading {
  font-size: .75rem;
  color: brown;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.book {
  width: 100%;
  aspect-ratio: 7 / 10; /* ↔️ is double the ↕️ */
  position: relative;
  transition: .4s ease-in-out;
  border-radius: 5px 5px 5px 5px;
  transform-origin: left center 0px;
  display: inline-block;
  perspective: 800px;
  &:hover {
    // Change to make others effects
    //transform: rotateZ(-4deg);
    .book__cover {
      transform: rotateY(-20deg);
      z-index: 999;
      box-shadow: 20px 10px 50px rgba(0,0,0,0.2);
    }

  }

  &__cover {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.15);
    background-size: cover;
    z-index: 10;
    transition: .5s linear;
    transform-style: preserve-3d;
    transform-origin: left center 0px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 5px 5px 5px 5px;
    }

    &--read {
      position: absolute;
      bottom: 0.1em;
      right: 0.25em;
      font-size: 1.5em;
      color: #333;
    }

    &:hover {
      >.book__detail {
        opacity: 1;
        height: auto;
        min-height: 20%;
        >p{
          display: block;
        }
      }
    }
  }

  &__detail {
    background-color: rgba(51, 51, 51, 0.6);
    height: 15%;
    width: 100%;
    bottom:5%;
    padding: 10px;
    font-size: 11px;
    font-weight: 800;
    position: absolute;
    overflow: hidden;
    z-index: 10;
    color: #fff;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
    >p{
      display: none;
    }
    a{
      color: #fff !important;
    }

  }

  &__page {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fbfae8;
    z-index: 0;
    box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
  }

}

.suggestion{
  max-height: 50px;
  overflow: hidden;
  margin: 1px;
  &:hover{
    max-height: 100%;
  }
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.hero {
  display: grid;
  grid-template-areas: 
            "cover . ."
            "cover title ."
            "cover progress ."
            "cover stats .";
  grid-template-columns: 300px auto 2rem;
  grid-template-rows: 2em auto 2em 6em;
  border-bottom: 1px solid var(--bs-border-color-translucent);
  margin-bottom: 2rem;
}

.hero__image {
  grid-area: cover;
  padding: 3rem;
}

.hero__title {
  grid-area: title;
  align-self: center;
}

.hero__subtitle {
  display: flex;
  gap: 1rem;
}

.hero__background {
  background: rgba(var(--bs-body-color-rgb), 0.03);
  grid-row: 1 / 4;
  grid-column: 1 / -1;
}

.hero__progress {
  grid-area: progress;
  position: relative;
}

.heroProgress {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
}
.heroProgress__bar {
  background: var(--bs-secondary-bg);
  height: 4px;
}
.heroProgress__bar__progress {
  background: #333;
  height: 4px;
}

.hero__stats {
  grid-area: stats;
  display: flex;
  gap: 1.5rem;

  align-items: center;
}

.hero__stats div {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.hero__stats i {
  font-size: 1.25em;
}

.booksWithDetails {
  display: grid;
  grid-template-columns: auto minmax(30%, 300px);
  grid-template-areas: "content info";
  gap: 1rem;
  padding-inline: 2rem;
}

.booksWithDetails__content {
  grid-area: content;
  padding-top: 2rem;
}

.booksWithDetails__info {
  grid-area: info;
}

.infoBlock {
  background: rgba(var(--bs-body-color-rgb), 0.03);
  padding: 2rem;
}

.Rating {
  color: rgba(var(--bs-secondary-rgb), 1);
}
