// Import from node_modules
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./overrides.css";

@import "./variables.css";

@import "./layout.css";

@import "./components/assistant.css";
@import "./components/book.css";
@import "./components/bookDetails.css";
@import "./components/bookGrid.css";
@import "./components/bookReader.css";
@import "./components/bookWithDetails.css";
@import "./components/card.css";
@import "./components/facets.css";
@import "./components/heading.css";
@import "./components/hero.css";
@import "./components/heroProgress.css";
@import "./components/menuBlock.css";
@import "./components/rating.css";
@import "./components/sidebar.css";
@import "./components/table.css";
@import "./components/login.css";
