:root {
  --space--xs: 0.25rem;
  --space--sm: 0.5rem;
  --space--md: 1rem;
  --space--lg: 1.5rem;
  --space--xl: 2rem;

  --border-radius--sm: 0.25rem;
  --border-radius--md: 0.5rem;
  --border-radius--lg: 1rem;

  --font-size--xs: 0.75rem;
  --font-size--sm: 0.875rem;
  --font-size--md: 1rem;
  --font-size--lg: 1.25rem;
  --font-size--xl: 1.5rem;

  --body-background-color: #f2f2f2;

  --color-main-01: #de9779; /* cover background, icon color, progress bar progress */
  --color-main-02: #eddcd5; /* nav background, progress bar background, block emphasis  */
  --color-main-03: #f1edeb; /* block background */
}

[data-bs-theme=dark] {
  --body-background-color: #0d0d0d;
  --color-main-01: #bf4f20;
  --color-main-02: #4f2311;
  --color-main-03: #241e1b;
}
