<span {{ attributes.defaults(stimulus_controller('inline-edit-book')) }}>
    {% if isEditing %}
        <form>
            <div class="input-group">
                <input
                    type="text"
                    data-model="name"
                    class="form-control"
                    autofocus
                />
                {% if currentFilters is null %}
                <button
                    data-action="live#action"
                    data-action-name="prevent|save"
                    class="btn btn-outline-success"
                >
                    <i class="bi bi-journal-check"></i> Save
                </button>
                {% endif %}

                {% if currentFilters is not null %}
                <button
                    data-action="live#action"
                    data-action-name="prevent|saveFilters"
                    class="btn btn-outline-success"
                >
                    <i class="bi bi-journal-check"></i> {{ 'save.current.filtering'|trans }}
                </button>
                {% endif %}
            </div>
        </form>
    {% else %}

        <button
            data-action="live#action"
            data-action-name="activateEditing"
            class="btn btn-sm m-0 p-0"
            title="Click to add!"
        >
            <i class="bi bi-plus"></i>
            {% if currentFilters is null %}
                {{ 'new.shelf'|trans }}
            {% endif %}

            {% if currentFilters is not null %}
                {{ 'save.current.filtering'|trans }}
            {% endif %}
        </button>

    {% endif %}
</span>
