<div {{ attributes.defaults(stimulus_controller('inline-edit')) }}>
    <!-- Default dropend button -->
    <div class="btn-group dropend">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">
            Dropend
        </button>
        <ul class="dropdown-menu">
            {% if interaction.readingList != enum('App\\Enum\\ReadingList').Ignored %}
                <li>
                    <a class="dropdown-item" href="#">
                        {% if interaction.readingList == enum('App\\Enum\\ReadingList').NotDefined %}
                            Add to reading list
                        {% elseif interaction.readingList == enum('App\\Enum\\ReadingList').ToRead %}
                            Remove from reading list
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Ignore this book
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="dropdown-item" href="#">
                        Un-ignore this book
                    </a>
                </li>
            {% endif %}
            <li>
                <hr class="dropdown-divider">
            </li>
            {% if interaction.readStatus != enum('App\\Enum\\ReadStatus').Finished %}
                {% if interaction.readStatus == enum('App\\Enum\\ReadStatus').NotStarted %}
                    <li>
                        <a class="dropdown-item" href="#">
                            Mark as started
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="#">
                        Mark as read
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="dropdown-item" href="#">
                        Mark as unread
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Mark as read again
                    </a>
                </li>
            {% endif %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <div class="btn-group dropend">

                    <a class="dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown"
                       data-bs-auto-close="outside" aria-expanded="false">
                        Add to shelf
                    </a>
                    <ul class="dropdown-menu">
                        {% for shelf in shelves %}
                            <li><a class="dropdown-item" href="#">{{ shelf.name }}</a></li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">+ Create new shelf</a></li>
                    </ul>
                </div>
            </li>

        </ul>

    </div>


</div>