<div {{ attributes }}>
    <input
            type="text"
            data-model="query"
            placeholder="Search"
            class="form-control w-100 rounded-0 border-0"
    >

    {% if computed.books|length > 0 %}
        <ul data-loading="addClass(opacity-50)" class="position-absolute bg-dark-subtle text-light w-100 p-2">
            {% for book in computed.books %}
                <li class="p-1">
                    {{ include('book/_search.html.twig') }}
                </li>
            {% endfor %}
            {% if computed.books|length == 5 %}
                <li class="p-1">
                    <a href="{{ path('app_search', {'query':query}) }}">View all results...</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>
