<div {{ attributes }}>
    <input
            type="text"
            data-model="query"
            placeholder="{{ 'search'|trans }}"
            class="form-control w-100 rounded-0 border-0"
    >

    {% if computed.books|length > 0 %}
        <ul data-loading="addClass(opacity-50)" class="position-absolute bg-dark-subtle text-light w-100 vh-100 overflow-scroll p-2">
            {% for book in computed.books %}
                <li class="p-1">
                    {{ include('book/_search.html.twig') }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
