<span {{ attributes.defaults(stimulus_controller('inline-edit-book')) }}>
    {% if isEditing and is_granted('EDIT', book) %}
        <div class="btn-group mt-2">

            <input type="file" name="cover" class="form-control"/>
            <button data-action="live#action" class="btn btn-sm btn-outline-dark" data-action-name="files|uploadFiles">
                Upload
            </button>
        </div>
    {% elseif is_granted('EDIT', book) %}

        <button
            data-action="live#action"
            data-action-name="activateEditing"
            class="btn btn-sm btn-outline-dark"
            title="Click to upload cover!"
        >
            <i class="bi bi-upload"></i> Upload new cover
        </button>


    {% endif %}       {% if flashMessage %}
        <div class="alert alert-danger mt-3">
             {{ flashMessage }}
            </div>
    {% endif %}
</span>
