{% extends 'base.html.twig' %}

{% block title %}{{ "ai.edit-ai-model"|trans }}{% endblock %}

{% block body %}
    <a href="{{ path('app_ai_model_index') }}" class="btn btn-text">
        <i class="bi bi-arrow-left"></i>
        {{ "generic.back-to-list"|trans }}
    </a>

    {{ include('ai_model/_form.html.twig', {'button_label': 'generic.update'}) }}
{% endblock %}
