<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="Card my-3">
            <div class="Card__content">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('generic.save')|trans }}</button>
{{ form_end(form) }}
            </div>
        </div>
    </div>
</div>