{% extends themedTemplate('base.html.twig') %}

{% block title %}Manage users{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ user.username }}</a>
                </td>
                <td>
                    <small>{{ user.roles|join(', ') }}</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
